{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="card" style="width: 25rem; ">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h4>로그인</h4>
                </div>
                <div class="col-6 text-right">
                    <span>또는 <a href="{% url 'users:signup' %}">계정을 만드세요.</a></span>
                </div>
            </div>
          <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                이메일주소 : {{form.email}}
            </li>
            <li class="list-group-item">비 밀 번 호 : {{form.password}}</li>
            <li class="list-group-item"><button type="submit" class="btn btn-primary">로그인</button></li>
            </ul>
            </form>
        </div>
      </div>
</div>

{% endblock %}